
.order{
    display: flex;
    gap: 20px;
}
.order-left1{
    flex: 1;
    
    min-height: 100vh;
    
}
.Burger-Card2{
   background-color:white;
   box-shadow: 0px 0px 10px #ccc;
   padding: 20px;
   line-height:1.6;
   
  
}
.Burger-item-card_cell{
    display: flex;
   
}
.Burger-item-card_cell img{
   
    width: 60px;
    height: 60px;
}
.Burger-club-h1{
    display: flex;
    text-emphasis:center;
    justify-content: center;
    
}
.Burger-club-ul ul i{
    list-style-type: none;
    word-spacing: 2px;
    
}
.Business-button{
   display: flex;
   gap: 20px;
   margin-top: 10px;
   
   
}
.Business-button a{
    width: 100%;
}
.Business-button a button{
    width: 100%;
}

.Button-Name{
    background-color: blue;
    color: #ccc;
}

.order-middle{
    flex: 2;
    max-width: 600px;
    background-color: rgb(255, 255, 255);
    min-height: 100vh;
    padding: 20px;
   
}
.order-h2{
    margin-bottom: 20px;
}
.order-images{
    display: flex;
    justify-content: center;
    overflow: auto;
    gap: 10px;
}
.order-images img{
    width: 300px;
    border-radius: 10px;
}
.order-menu-card{
    display: flex;
    text-align: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
    
}
.order-menu-card div{
    width: 150px;
    font-size: 1rem;
}
.order-menu-card img{
    width:100%;
    gap: 20px;
}
.Explore-Burger{
    margin-top: 20px;
}
.Explore-Burger-img{
    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
    
}
.Outlet-card{
   background-color: antiquewhite;
   
}

.Outlet-imgages{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}
.Outlet-imgages .logo{
    width: 70px;
    height: 70px;
}
.rating{
    text-align: center;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    min-height: 70px;
    border-radius: 10px;
    overflow: hidden;
    width: 100px;
}
.r-top{
    background-color: blueviolet;
    /* flex: 1; */
    padding: 10px;
    color: #fff;
}
.r-bottom{
    flex:1;
    padding: 10px;

}


.order-right{
    flex: 1;
    min-height: 100vh;
    margin-top: 20px;
    background-color:rgba(236, 227, 227, 0.322);
    box-shadow:0px 0px 10px #d1cdcd;
    width:200%;
    height:200px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    border-radius: 10px;
    /* background-size:auto;
    */
   
    
}
.order-right-menu{
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-top: 30px;
    margin-left: 20px;
}
.order-right-menu-1{
    display: flex;
    margin-top: 20px;
    gap: 20px;
    margin-left: 10px;
   
   
}
.order-right-menu-2{
    display: flex;
    margin-top: 20px;
    gap: 20px;
    margin-left: 10px;
   
}
.order-right-menu-3{
    display: flex;
    margin-top: 20px;
    gap: 20px;
    margin-left: 10px;
   
}
.order-right-menu-4{
    display: flex;
    margin-top: 20px;
    gap: 20px;
    margin-left: 10px;
   
}
.order-table h4{
    background-color: blue;
    width: 50px;
    height: 50px;
    text-align: center;
    justify-content: center;
    color: #ccc;
    padding-top: 20px;
    border-radius: 50%;
   

   
}
.order-table button{
    border-radius: 10px;
   width: 100px;
   height: 50px;
}

